@media (max-width:600px ){

    #main{
        width: 100vw;
        min-height: 100vh;
    }

    #nav{
        padding: 0 7vw;
    }

    #nav_list{
        display: none;
    }

    #nav>i{
        font-size: 9vw;
        display: initial;
    }

    #nav>h2{
        font-size: 8.5vw;
    }

    #page1_image1{
        display: none;
    }

    #page1_image2{
        display: none;
    }

    #page1_image3{
        display: none;
    }

    #page1_center_text{
        position: absolute;
        top: 40%;
        left: 16%;
        z-index: 10;
        text-align: center;
        
    }
    #page1_center_text>h1{
        font-family: 'Noto Serif Thai', serif;
        width: 65vw;
        Font-size: 10vw;
        Font-weight: 400;
        Line-height: 13vw;
        text-align: center;
        /* background-color: aqua; */
        color: rgb(15, 15, 15);
    }

    #page1_center_text>img{
        width: 43vw;
        height: 3vw;
        left: 17%;
        top: 65%;
    }
    #bit2{
        display: flex;
        align-items: center;
        gap: 4vw;
        margin-top: 9vw;
        justify-content: center;
    }
    #bit2>h1{
        font-family: gilroy;
        font-size: 5vw;
        font-weight: 400;
    }

    #bit2>button{
        padding: 0.5vw 5vw;
        border-radius: 5vw;
        border: none;
        outline: 0.2vw solid gray;
        background-color: white;
        position: relative;
        z-index: 1;
        overflow: hidden;
        cursor: pointer;
    }
    #bit2>button::before{
        content: "";
        position: absolute;
        top: 0%;
        right: 100%;
        width: 100%;
        height: 100%;
        background-color: #00EB8F;
        z-index: -1;
        transition: 0.4s linear;
       
    }
    #bit2>button:hover::before{
        right: 0%;
        /* width: 120%; */
    }
    
    #bit2>button>img{
        width: 7vw;
    }


    /* -----------------------page2---------------------------- */
    /*----------------------page2--------------------*/
#page2{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
}
#page2_main{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 3vw;
    /* background-color: red; */

}

#page2_text2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
 
}
#page2_text2>span{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: #00EB8F;
}
#page2_text2>h2{
    width: 80vw;
    font-family: gilroy;
    font-size: 4vw;
    Font-weight: 400;
    Line-height: 27px;
    color: rgb(255, 255, 255);
}
#page2_text3{
    margin-top: 3vw;
    width: 90vw;
}
#page2_text3>h2{
    font-family: ui-serif, Georgia, "Times New Roman", Times, serif;
    Font-size: 8vw;
    Font-weight: 100;
    Line-height: 12vw;
    position: relative;
    color: rgb(255, 255, 255);

}
#page2_text3>img{
    position: absolute;
    width: 38%;
    top: 65%;
    left: 27%;
}


/*  */
#page_text4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    margin-top: 5vw;
}
#page_text4>h2{
    font-family: gilroy;
    font-size: 6vw;
    font-weight: 400;
    color: rgb(218, 218, 218);
}
#page_text4>button{
    padding: 1.5vw 6vw;
    border-radius: 5vw;
    border: none;
    position: relative;
    outline: 0.1vw solid gray;
    z-index: 1;
    overflow: hidden;
    background-color: transparent;
}
#page_text4>button::before{
    position: absolute;
    content: "";
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.3s linear;
    background-color: #00EB8F;
   
}
#page_text4>button:hover:before{
    right: 0%;
}
#page_text4>button>i{
    font-size: 6vw;
    color: white;
    /* background-color: white; */
}

/*-----------------------------page3------------------------------*/
#page3{
    width: 100vw;
    height: 140vh;
    flex-direction: column;
    background-color: white;
}

/*------------page3--left------------*/
#page3_left{
    width: 100vw;
    height: 70vh;
    position: relative;
    padding-top: 10vw;
    background-color: white;
}
#page3_image1{
    width: 22vw;
    height: 35vh;
 
}
#page3_image2{
    width: 22vw;
    position: absolute;
    top: 62%;
    left: 0;
}
#page3_image3{
    width: 50vw;
    height: 22vh;
    padding-top: 10vw;
    position: absolute;
    top: 0;
    left: 29%;
}
#page3_image4{
    width: 60vw;
    height: 40vh;
    position: absolute;
    top: 37%;
    left: 29%;
}

/*------------page3--right------------*/
#page3_right{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
}
#page3_right_text1{
    width: 85vw;
    height: 70vh;
    margin-top: 0vw;
    position: relative;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    align-items: center;
    /* background-color: brown; */
}
#page3_right_text1>img{
    position: absolute;
    width: 33vw;
    top: 10.2vw;
    left: 21vw;
}
#page3_right_text1>h1{
    font-family:ui-serif, Georgia,"Times New Roman", Times, serif;
    Font-size: 8.5vw;
    Font-weight: 400;
    Line-height: 12vw;
    width: 85vw;
    /* background-color: #00EB8F; */
    color: rgb(41, 41, 41);
}

#page3_right_text1>h5{
    font-family:gilroy;
    Font-size: 4.7vw;
    Font-weight: 400;
    Line-height: 7vw;
    margin-top: 10vw;
    color: rgb(15, 15, 15);
}

/*----------------------page3_right_text2--------------------*/
#page3_right_text2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8vw;
    margin-top: 10vw;
}
#page3_right_text2>span{
    width: 11vw;
    height: 6vh;
    border-radius: 50%;
    background-color: #DBEAFE;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#page3_right_text2>span>img{
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 10vw;
}
#page3_right_text2>h1{
    font-family: gilroy;
    font-weight: 400;
    font-size: 4.5vw;
    width: 25vw;
}
#page3_right_text2>button{
  display: flex;
  width: 30vw;
  justify-content: center;
  align-items: center;
  padding: 1vw 5vw;
  border: none;
  gap: 0.5vw;
  border-radius: 5vw;
  font-family: gilroy;
  font-size: 4vw;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  outline: 0.1vw solid gray;
  z-index: 1;
  overflow: hidden;
  background-color: white;
}
#page3_right_text2>button::before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background-color: #00EB8F;
  transition: 0.3s linear;
}
#page3_right_text2>button:hover:before{
    right: 0%;
}
#page3_right_text2>button>img{
    width: 7vw;
  
}

/*-------------------------//---page4--//--------------------------*/
#page4{
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 10vw 0vw;
    background-color: white;
}

#page4_text1>h1{
    font-family:ui-serif, Georgia,"Times New Roman", Times, serif;
    width: 90vw;
    background-color: white;
    Font-size: 9vw;
    Font-weight: 300;
    Line-height: 12vw;
    margin-top: 2vw;
    text-align: center;
    color: rgb(15, 15, 15);
}
#page4_text1>img{
    width: 26vw;
    height: 13vw;
    top: 03%;
    left: 31vw;
    position: absolute;
}
#page4_text2{
    width: 90vw;
    height: 90vh;
    margin-left: 0vw;
    background-color: white;
}

#page4_text2_imageall{
    width: 35vw;
    margin-right: 9vw;
    margin-top: 10vw;
}

/*  */
#page4_text3{
    margin-top: 0vw;
    font-family: gilroy;
    font-size: 4vw;
    font-weight: 600;
    display: none;

}


/*-----------------------------page5----------------------------*/
#page5{
    width: 100vw;
    height: 110vh;
    flex-direction: column;
    background-color: white;
}

/*----------------------page5-left---------------------------*/
#page5_left{
    width: 100vw;
    height: 40vh;
    margin-top: 0vw;
    padding-top: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#page5_left_box1{
    width: 90vw;
    height: 35vh;
    display: flex;
    overflow: hidden;
    margin-left: 0vw;
    margin-right: 1.5vw;
    position: relative;
    cursor: pointer;
    /* background-color: coral; */
}
#page5_left_box1>img{
    transition: 0.3s linear;
}
#page5_left_image_text{
    position: absolute;
    padding: 2vw 0 0 4vw;

}

#page5_left_logo{
    width: 30vw;
}

#page5_left_box1:hover>img{
    transform: scale(1.1);
}
#page5_left_image_text{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.404);
}
#page5_left_image_text h1{
    font-family:ui-serif, Georgia,"Times New Roman", Times, serif;
    Font-size: 7vw;
    Font-weight: 300;
    Line-height: 10vw;
    margin-top: 7vw;
    color: rgb(255, 255, 255);
}
#but5{
    display: flex;
    margin-top: 4vw;
    justify-content: flex-start;
    align-items: center;
    gap: 5vw;
}
#but5>h2{
    font-family: gilroy;
    font-size: 4.5vw;
    font-weight: 500;
    color: white;
}
#but5>button{
    padding: 1.2vw 5vw;
    border: none;
    border-radius: 5vw;
    outline: 0.1vw solid white;
    background-color: transparent;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#but5>button::before{
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: #00EB8F;
    z-index: -1;
    transition:  0.3s linear;
}

#page5_left_box1:hover button::before{
    right: 0%;
}
#but5>button>i{
   font-size: 5vw;
   color: white;
}

/*----------------------page5-right---------------------------*/
#page5_right{
    width: 100vw;
    height: 40vh;
    margin-top: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

/* ----------------right--------------- */
#page5_right_box2{
    width: 90vw;
    height: 35vh;
    display: flex;
    overflow: hidden;
    margin-left: 0vw;
    margin-right: 1.5vw;
    position: relative;
    cursor: pointer;
    /* background-color: coral; */
}
#page5_right_box2>img{
    transition: 0.3s linear;
}
#page5_right_image_text{
    position: absolute;
    padding: 3vw 0 0 4vw;

}
#page5_right_logo2{
    width: 30vw;
}

#page5_right_box2:hover>img{
    transform: scale(1.1);
}
#page5_right_image_text{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.404);
}
#page5_right_image_text h1{
    font-family:ui-serif, Georgia,"Times New Roman", Times, serif;
    Font-size: 7vw;
    Font-weight: 300;
    Line-height: 10vw;
    margin-top: 7vw;
    color: rgb(255, 255, 255);

}
#but6{
    display: flex;
    margin-top: 7vw;
    justify-content: flex-start;
    align-items: center;
    gap: 5vw;
}
#but6>h2{
    font-family: gilroy;
    font-size: 4.5vw;
    font-weight: 500;
    color: white;
}
#but6>button{
    padding: 1.2vw 5vw;
    border: none;
    border-radius: 5vw;
    outline: 0.1vw solid white;
    background-color: transparent;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#but6>button::before{
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: #00EB8F;
    z-index: -1;
    transition:  0.3s linear;
}

#page5_right_box2:hover button::before{
    right: 0%;
}
#but6>button>i{
   font-size: 5vw;
   color: white;
}

/*----------------page5--bottom-----------------*/
#page5_bottom{
    width: 100vw;
    height: 20vh;
    position: absolute;
    bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
#page5_bottom_box1{
    width: 90vw;
    height: 20vh;
    display: flex;
    gap: 6vw;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
}
#page5_bottom_box1>span{
    width: 10vw;
    height: 6vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #DBEAFE;
}
#page5_bottom_box1>span>img{
    width: 10vw;
}
#page5_bottom_box1>h2{
    font-family: gilroy;
    font-weight: 400;
    font-size: 5vw;
}
#btn7{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 1vw;
    padding: 1.6vw 2.5vw;
    outline: 0.1vw solid gray;
    border-radius: 5vw;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}

#btn7::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: #00EB8F;
    transition:  0.3s linear;
}
#btn7:hover::before{
    right: 0%;
}

#btn7>h3{
    font-family:ui-serif, Georgia,"Times New Roman", Times, serif;
    font-weight: 100;
    font-size: 3.5vw;
}

#btn7>img{
    width: 5vw;
}


/*--------------------------------page6------------------------------------*/

.swiper {
    width: 80vw;
    height: 100vh;
  }

  .swiper-slide {
    text-align: center;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
    /*  */
.swiper-slide>h1{
    font-family:ui-serif, Georgia,"Times New Roman", Times, serif;
    Font-size: 4.5vw;
    padding: 0 2vw;
    Font-weight: 300;
    Line-height: 14vw;
    color: rgb(15, 15, 15);
  }
  .swiper-slide img {
    position: absolute;
    top: 16%;
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    object-fit: cover;
  }
  #slide_image1{
    width: 90%;
  }
  #slide_image2{
    width: 30%;
  }
  #slide_image3{
    width: 70%;
  }

  #swiper-slide_box1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 75%;
    flex-direction: column;
  }
  #swiper-slide_box2{
    width: 90vw;
    height: 4vh;
    /* background-color: aqua; */
  }

  #swiper-slide_box2>span{
    width: 4vw;
    height: 2vh;
    border-radius: 50%;
    position: absolute;
    left: 8%;
    top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#00EB8F;    
  }
  #swiper-slide_box2>#span3{
    width: 4vw;
    height: 2vh;
    border-radius: 50%;
    position: absolute;
    left: 22%;
    top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#00EB8F;    
  }
  #swiper-slide_box2>#span4{
    width: 4vw;
    height: 2vh;
    border-radius: 50%;
    position: absolute;
    left: 20%;
    top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#00EB8F;    
  }
  #swiper-slide_box2>#span5{
    width: 4vw;
    height: 2vh;
    border-radius: 50%;
    position: absolute;
    left: 25%;
    top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#00EB8F;    
  }
  #swiper-slide_box2>#span6{
    width: 4vw;
    height: 2vh;
    border-radius: 50%;
    position: absolute;
    left: 22%;
    top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#00EB8F;    
  }

  #swiper-slide_box2>h1{
    font-family: gilroy;
    font-size: 4vw;
    font-weight: 100;
  }
  #swiper-slide_box1>h2{
    font-family: gilroy;
    font-weight: 100;
    margin-top: 0.5vw;
    color: gray;
    font-size: 6vw;
  }

  /*-----------------------------page7--------------------------------*/
  #page7{
    width: 100vw;
    height: 160vh;
    position: relative;
    background-color: black;
  }
  #page7_top{
    width: 100vw;
    height: 50vh;
    background-color: white;
  }
  /*------------------------*/
  #page7_image1{
    position: absolute;
    top: 14%;
    left: 9%;
  }
  #page7_image2{
    width: 80vw;
    height: 45vh; 
    position: absolute;
  }
 #image_overlay{
    width: 100%;
    height: 100%;
    width: 80vw;
    height: 45vh; 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.425);
 }
 #image_overlay>img{
    width: 19vw;
    top: 12%;
    left: 40%;
    position: absolute;
 }
 #image_overlay>h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ui-serif, Georgia,"Times New Roman", Times, serif;
    Font-size: 6vw;
    width: 55vw;
    Font-weight: 300;
    Line-height: 10vw;
    color: rgb(255, 255, 255);
    /* background-color: aqua; */
 }
 #image_overlay_box1{
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
 }
 #image_overlay_box1>span{
    width: 10vw;
    height: 5vh;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#DBEAFE;
 }
 #image_overlay_box1>span>img{
    width: 9vw;
 }
 #image_overlay_box1>h2{
    font-family: gilroy;
    font-size: 5vw;
    width: 15vw;
    font-weight: 400;
    color: white;
 }
 /* -----------btn8----------- */
 #btn8{
    gap: 5vw;
   
    
 }
 #btn8>button{
    padding: 1vw 3vw;
    font-family: gilroy;
    font-size: 4vw;
    font-weight: 400;
    background-color: transparent;
    color: white;
    border: none;
    width: 34vw;
    outline: 0.1vw solid rgb(207, 206, 206);
    border-radius: 10vw;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
#btn8>button::before{
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: #00EB8F;
    z-index: -1;
    transition: 0.3s linear;
}
  #btn8>button:hover::before{
    right: 0%;
 }

 #btn8>button>i{
    margin-left: 5vw;
 }

/* --------------------- #page7_bottem----------------------*/
#page7_bottem{
    width: 100vw;
    height: 110vh;
    background-color: black;
  }
  #page7_bottem_box1{
    width: 100vw;
    height: 35vw;
    position: absolute;
    margin-top: 50vw;
    padding: 0 8vw;
    background-color: black;
  }
  #page7_bottem_box1_list1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8.5vw;
    flex-direction: column;

  }
  #list_11>h1{
    width: 70vw;
    text-align: center;
    font-family: ui-serif, Georgia,"Times New Roman", Times, serif;
    Font-size: 12vw;
    Font-weight: 100;
    Line-height: 13vw;
    color: rgb(255, 255, 255);
  
  }
  #list_11>img{
    position: absolute;
    width: 75%;
    height: 35%;
    left: 10%;
    top: 22%;
  }

  /*  */
  #list_110{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    gap: 4vw;
  }
  #list_110>h2{
    font-family: gilroy;
    font-size: 5vw;
    font-weight: 500;
    color: white;
  }
  #list_110>button{
    background-color: transparent;
    border: none;
    border-radius: 3vw;
    outline: 0.1vw solid white;
    padding: 1vw 4vw;
    position:relative;
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
  }
  #list_110>button::before{
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: #00EB8F;
    z-index: -1;
    transition: 0.3s linear;
  }
  #list_110>button:hover:before{
    right: 0%;
  }
  #list_110>button>i{
     font-size: 4vw;
     color: white;
  }

  /*  */
  #list_22>h1{
    font-size: 2vw;
    font-family: gilroy;
    color: white;
    font-weight: 400;
    display: none;

  }
  #list_22>p{
    margin-top: 0.5vw;
    font-size: 1.6vw;
    font-weight: 200;
    color: white;
    height: 2vw;
    width: 4.8vw;
    cursor: pointer;
    background-color:black;
    transition: 0.1s linear;
    border-bottom: 0vw solid #00EB8F;
    display: none;
  }
  #list_22>p:hover{
    border-bottom: 0.2vw solid #00EB8F;
  }

  /* -------------- */
  #list_33>h1{
    font-size: 2vw;
    font-family: gilroy;
    color: white;
    font-weight: 400;
    display: none;
  }
  #list_33>p{
    margin-top: 0.5vw;
    font-size: 1.6vw;
    font-weight: 200;
    color: white;
    height: 2vw;
    width: 5.3vw;
    cursor: pointer;
    background-color: black;
    transition: 0.1s linear;
    border-bottom: 0vw solid #00EB8F;
    display: none;
  }
  #list_33>p:hover{
    border-bottom: 0.2vw solid #00EB8F;
  }

  /* -------------- */
  #list_44>h1{
    font-size: 2vw;
    font-family: gilroy;
    color: white;
    font-weight: 400;
    display: none;
  }
  #list_44>p{
    margin-top: 0.5vw;
    font-size: 1.6vw;
    font-weight: 200;
    color: white;
    height: 2vw;
    background-color: black;
    transition: 0.1s linear;
    border-bottom: 0vw solid #00EB8F;
    display: none;
  }
  #list_44>p:hover{
    border-bottom: 0.2vw solid #00EB8F;
  }

  /* ----------------- */
  #list_55{
    display: flex;
    gap: 5vw;
    position: absolute;
    top: 250%;
    flex-direction: row;
  }

  #list_55_image1{
     width: 20vw;
     height: 7vh;
  }
  #list_55_image2{
    width: 25vw;
    height: 13vh;
 }
 #list_55_image3{
    width: 22vw;
    height: 4vh;
 }

 /* ---------------------fff----------------- */
 #page7_bottem_box2{
    width: 85vw;
    height: 20vh;
    position: absolute;
    top: 87%;
    left: 7.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6vw;
    color: white;
    border-top: 0.05vw solid white;
    background-color: black;
 }
 #page7_bottem_box2>h1{
    white-space: nowrap;
    display: none;
 }
 #page7_bottem_box2>h2{
    font-family: gilroy;
    font-size: 5vw;
    font-weight: 100;
   
 }
 #social_icon{
    font-size: 8vw;
    cursor: pointer;
 }
 #social_icon i:hover{
    color: #00EB8F;
 }
 




}